## Database Creation & Recommendation System

In [1]:
import pandas as pd

In [2]:
df1=pd.read_csv("books.csv",index_col=False)
df1=df1.drop(columns=["Unnamed: 0"])

In [3]:
df1.head()

,isbn,text_reviews_count,series,country_code,language_code,popular_shelves,asin,is_ebook,average_rating,kindle_asin,...,publication_month,edition_information,publication_year,url,image_url,book_id,ratings_count,work_id,title,title_without_series
0,NaN,7,['189911'],US,eng,"[{'count': '58', 'name': 'to-read'}, {'count':...",B00071IKUY,False,4.03,NaN,...,NaN,Book Club Edition,1987.0,https://www.goodreads.com/book/show/7327624-th...,https://images.gr-assets.com/books/1304100136m...,7327624,140,8948723,"The Unschooled Wizard (Sun Wolf and Starhawk, ...","The Unschooled Wizard (Sun Wolf and Starhawk, ..."
1,0842379428,566,[],US,eng,"[{'count': '6393', 'name': 'to-read'}, {'count...",NaN,False,4.26,B000FCKCJC,...,NaN,NaN,NaN,https://www.goodreads.com/book/show/89376.Heaven,https://images.gr-assets.com/books/1406508230m...,89376,7345,86257,Heaven,Heaven
2,0590417010,193,[],US,eng,"[{'count': '450', 'name': 'to-read'}, {'count'...",NaN,False,4.43,B017RORXNI,...,9.0,NaN,1995.0,https://www.goodreads.com/book/show/89378.Dog_...,https://images.gr-assets.com/books/1360057676m...,89378,1331,86259,Dog Heaven,Dog Heaven
3,NaN,15,[],US,eng,"[{'count': '1492', 'name': 'to-read'}, {'count...",B013Q70BQG,True,3.98,B013Q70BQG,...,NaN,NaN,NaN,https://www.goodreads.com/book/show/27419760-w...,https://images.gr-assets.com/books/1457306424m...,27419760,167,46003673,Wedding Girl,Wedding Girl
4,NaN,5,"['246830', '362583', '362581', '623032']",US,eng,"[{'count': '493', 'name': 'to-read'}, {'count'...",NaN,False,4.28,NaN,...,NaN,NaN,2012.0,https://www.goodreads.com/book/show/13571772-c...,https://images.gr-assets.com/books/1333287305m...,13571772,51,102217,Captain America: Winter Soldier (The Ultimate ...,Captain America: Winter Soldier (The Ultimate ...

In [121]:
df2=pd.read_csv("books_genre.csv",index_col=None)

In [122]:
df2.head()

   Unnamed: 0  book_id  genre_id
0           0  7327624         3
1           1  7327624         7
2           2  7327624         2
3           3  7327624        10
4           4    89376         1

In [123]:
df2.rename(columns={"Unnamed: 0":"id"},inplace=True)
cnt=list(df2["id"])
c=[]
for i in cnt:
    c.append(i+1)
df2["id"]=c

In [124]:
df2.head()

   id  book_id  genre_id
0   1  7327624         3
1   2  7327624         7
2   3  7327624         2
3   4  7327624        10
4   5    89376         1

In [42]:
df3=pd.read_csv("genre_map.csv",index_col=None)
df3=df3.drop(columns=["Unnamed: 0"])

In [142]:
df3

   id                                    name
0   1                             non-fiction
1   2                mystery, thriller, crime
2   3                     fantasy, paranormal
3   4                             young-adult
4   5                         comics, graphic
5   6  history, historical fiction, biography
6   7                                 fiction
7   8                                children
8   9                                 romance
9  10                                  poetry

In [4]:

df1.rename(columns = {'book_id':'id','title':'book_title', 'publisher':'book_publisher','publication_year':'published_at','image_url':'book_cover','authors':'book_author','description':'book_description'}, inplace = True)

In [5]:
df1.head()

,isbn,text_reviews_count,series,country_code,language_code,popular_shelves,asin,is_ebook,average_rating,kindle_asin,...,publication_month,edition_information,published_at,url,book_cover,id,ratings_count,work_id,book_title,title_without_series
0,NaN,7,['189911'],US,eng,"[{'count': '58', 'name': 'to-read'}, {'count':...",B00071IKUY,False,4.03,NaN,...,NaN,Book Club Edition,1987.0,https://www.goodreads.com/book/show/7327624-th...,https://images.gr-assets.com/books/1304100136m...,7327624,140,8948723,"The Unschooled Wizard (Sun Wolf and Starhawk, ...","The Unschooled Wizard (Sun Wolf and Starhawk, ..."
1,0842379428,566,[],US,eng,"[{'count': '6393', 'name': 'to-read'}, {'count...",NaN,False,4.26,B000FCKCJC,...,NaN,NaN,NaN,https://www.goodreads.com/book/show/89376.Heaven,https://images.gr-assets.com/books/1406508230m...,89376,7345,86257,Heaven,Heaven
2,0590417010,193,[],US,eng,"[{'count': '450', 'name': 'to-read'}, {'count'...",NaN,False,4.43,B017RORXNI,...,9.0,NaN,1995.0,https://www.goodreads.com/book/show/89378.Dog_...,https://images.gr-assets.com/books/1360057676m...,89378,1331,86259,Dog Heaven,Dog Heaven
3,NaN,15,[],US,eng,"[{'count': '1492', 'name': 'to-read'}, {'count...",B013Q70BQG,True,3.98,B013Q70BQG,...,NaN,NaN,NaN,https://www.goodreads.com/book/show/27419760-w...,https://images.gr-assets.com/books/1457306424m...,27419760,167,46003673,Wedding Girl,Wedding Girl
4,NaN,5,"['246830', '362583', '362581', '623032']",US,eng,"[{'count': '493', 'name': 'to-read'}, {'count'...",NaN,False,4.28,NaN,...,NaN,NaN,2012.0,https://www.goodreads.com/book/show/13571772-c...,https://images.gr-assets.com/books/1333287305m...,13571772,51,102217,Captain America: Winter Soldier (The Ultimate ...,Captain America: Winter Soldier (The Ultimate ...

In [6]:
df4=df1[["id","book_title",'book_publisher',"published_at",'book_cover','book_author','book_description']]

In [7]:
df4.head()

,id,book_title,book_publisher,published_at,book_cover,book_author,book_description
0,7327624,"The Unschooled Wizard (Sun Wolf and Starhawk, ...","Nelson Doubleday, Inc.",1987.0,https://images.gr-assets.com/books/1304100136m...,['Barbara Hambly'],Omnibus book club edition containing the Ladie...
1,89376,Heaven,NaN,NaN,https://images.gr-assets.com/books/1406508230m...,['Randy Alcorn'],What is Heaven really going to be like? What w...
2,89378,Dog Heaven,Blue Sky Press,1995.0,https://images.gr-assets.com/books/1360057676m...,['Cynthia Rylant'],In Newbery Medalist Cynthia Rylant's classic b...
3,27419760,Wedding Girl,NaN,NaN,https://images.gr-assets.com/books/1457306424m...,['Stacey Ballis'],You've Got Mailmeets Julie & Juliain the new f...
4,13571772,Captain America: Winter Soldier (The Ultimate ...,Hachette Partworks Ltd.,2012.0,https://images.gr-assets.com/books/1333287305m...,['Ed Brubaker'],The questions plaguing Captain America's dream...

In [8]:
publ=list(df4["published_at"])

In [9]:
int(publ[0])

1987

In [10]:
publ2=[]
for i in publ:
    try:
        publ2.append(int(i))
    except:
        publ2.append("Not Known")

In [11]:
publ2[0]

1987

In [12]:
#df4=df4.drop(columns=["published_at"])
df4["published_at"]=publ2

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [13]:
df4.head()

,id,book_title,book_publisher,published_at,book_cover,book_author,book_description
0,7327624,"The Unschooled Wizard (Sun Wolf and Starhawk, ...","Nelson Doubleday, Inc.",1987,https://images.gr-assets.com/books/1304100136m...,['Barbara Hambly'],Omnibus book club edition containing the Ladie...
1,89376,Heaven,NaN,Not Known,https://images.gr-assets.com/books/1406508230m...,['Randy Alcorn'],What is Heaven really going to be like? What w...
2,89378,Dog Heaven,Blue Sky Press,1995,https://images.gr-assets.com/books/1360057676m...,['Cynthia Rylant'],In Newbery Medalist Cynthia Rylant's classic b...
3,27419760,Wedding Girl,NaN,Not Known,https://images.gr-assets.com/books/1457306424m...,['Stacey Ballis'],You've Got Mailmeets Julie & Juliain the new f...
4,13571772,Captain America: Winter Soldier (The Ultimate ...,Hachette Partworks Ltd.,2012,https://images.gr-assets.com/books/1333287305m...,['Ed Brubaker'],The questions plaguing Captain America's dream...

In [14]:
df4["book_avg_rating"]=0.0

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [15]:
df4["book_num_of_rating"]=0

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [16]:
df4.head()

,id,book_title,book_publisher,published_at,book_cover,book_author,book_description,book_avg_rating,book_num_of_rating
0,7327624,"The Unschooled Wizard (Sun Wolf and Starhawk, ...","Nelson Doubleday, Inc.",1987,https://images.gr-assets.com/books/1304100136m...,['Barbara Hambly'],Omnibus book club edition containing the Ladie...,0.0,0
1,89376,Heaven,NaN,Not Known,https://images.gr-assets.com/books/1406508230m...,['Randy Alcorn'],What is Heaven really going to be like? What w...,0.0,0
2,89378,Dog Heaven,Blue Sky Press,1995,https://images.gr-assets.com/books/1360057676m...,['Cynthia Rylant'],In Newbery Medalist Cynthia Rylant's classic b...,0.0,0
3,27419760,Wedding Girl,NaN,Not Known,https://images.gr-assets.com/books/1457306424m...,['Stacey Ballis'],You've Got Mailmeets Julie & Juliain the new f...,0.0,0
4,13571772,Captain America: Winter Soldier (The Ultimate ...,Hachette Partworks Ltd.,2012,https://images.gr-assets.com/books/1333287305m...,['Ed Brubaker'],The questions plaguing Captain America's dream...,0.0,0

In [17]:
author=df4["book_author"]

In [18]:
author2=[]
for i in author:
    i=i.replace("'","")
    i=i.replace("[","")
    i=i.replace("]","")
    author2.append(i)

In [19]:
author2[0]

'Barbara Hambly'

In [20]:
df4["book_author"]=author2

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

## Data Created

In [21]:
df4.head()

,id,book_title,book_publisher,published_at,book_cover,book_author,book_description,book_avg_rating,book_num_of_rating
0,7327624,"The Unschooled Wizard (Sun Wolf and Starhawk, ...","Nelson Doubleday, Inc.",1987,https://images.gr-assets.com/books/1304100136m...,Barbara Hambly,Omnibus book club edition containing the Ladie...,0.0,0
1,89376,Heaven,NaN,Not Known,https://images.gr-assets.com/books/1406508230m...,Randy Alcorn,What is Heaven really going to be like? What w...,0.0,0
2,89378,Dog Heaven,Blue Sky Press,1995,https://images.gr-assets.com/books/1360057676m...,Cynthia Rylant,In Newbery Medalist Cynthia Rylant's classic b...,0.0,0
3,27419760,Wedding Girl,NaN,Not Known,https://images.gr-assets.com/books/1457306424m...,Stacey Ballis,You've Got Mailmeets Julie & Juliain the new f...,0.0,0
4,13571772,Captain America: Winter Soldier (The Ultimate ...,Hachette Partworks Ltd.,2012,https://images.gr-assets.com/books/1333287305m...,Ed Brubaker,The questions plaguing Captain America's dream...,0.0,0

## Sqlite Database Creation

In [99]:
import sqlite3
conn = sqlite3.connect("db.sqlite3")

In [130]:
c=conn.cursor()

In [101]:
df4.to_sql('Books_book_copy', conn, if_exists='replace', index=False)

In [102]:
conn.commit()

In [103]:
c.execute("DELETE from Books_book")

In [106]:
c.execute("INSERT into Books_book SELECT * from Books_book_copy")

In [107]:
c.execute("DROP TABLE Books_book_copy")

In [108]:
conn.commit()

In [125]:
df2.head()

   id  book_id  genre_id
0   1  7327624         3
1   2  7327624         7
2   3  7327624         2
3   4  7327624        10
4   5    89376         1

In [134]:
df2.to_sql('Books_book_book_genre_copy', conn, if_exists='replace',index=False)

In [135]:
dfk=pd.read_sql_query("SELECT * from Books_book_book_genre_copy",conn)

In [136]:
dfk.head()

   id  book_id  genre_id
0   1  7327624         3
1   2  7327624         7
2   3  7327624         2
3   4  7327624        10
4   5    89376         1

In [137]:
conn.commit()

In [131]:
c.execute("DROP TABLE Books_book_book_genre_copy")

In [138]:
c.execute("DELETE from Books_book_book_genre")

In [139]:
c.execute("INSERT into Books_book_book_genre SELECT * from Books_book_book_genre_copy")

In [140]:
c.execute("DROP TABLE Books_book_book_genre_copy")

In [141]:
conn.commit()

In [143]:
df3.to_sql('Books_genre_copy', conn, if_exists='replace', index=False)

conn.commit()

c.execute("DELETE from Books_genre")

c.execute("INSERT into Books_genre SELECT * from Books_genre_copy")

c.execute("DROP TABLE Books_genre_copy")

conn.commit()

In [154]:
dfk=pd.read_sql_query("SELECT * from Books_book_book_genre",conn)

In [155]:
dfk.head()

   id  book_id  genre_id
0   1  7327624         3
1   2  7327624         7
2   3  7327624         2
3   4  7327624        10
4   5    89376         1

In [156]:
len(dfk)

60910

In [157]:
conn.commit()

## Recommendation

In [22]:
import pandas as pd
df=pd.read_csv("booksgenre.csv",index_col=False)
df=df.drop(columns=["Unnamed: 0"])

In [23]:
df.head()

,isbn,text_reviews_count,series,country_code,language_code,popular_shelves,asin,is_ebook,average_rating,kindle_asin,...,edition_information,publication_year,url,image_url,book_id,ratings_count,work_id,title,title_without_series,genres
0,NaN,7,['189911'],US,eng,"[{'count': '58', 'name': 'to-read'}, {'count':...",B00071IKUY,False,4.03,NaN,...,Book Club Edition,1987.0,https://www.goodreads.com/book/show/7327624-th...,https://images.gr-assets.com/books/1304100136m...,7327624,140,8948723,"The Unschooled Wizard (Sun Wolf and Starhawk, ...","The Unschooled Wizard (Sun Wolf and Starhawk, ...","{'fantasy, paranormal': 31, 'fiction': 8, 'mys..."
1,0842379428,566,[],US,eng,"[{'count': '6393', 'name': 'to-read'}, {'count...",NaN,False,4.26,B000FCKCJC,...,NaN,NaN,https://www.goodreads.com/book/show/89376.Heaven,https://images.gr-assets.com/books/1406508230m...,89376,7345,86257,Heaven,Heaven,{'non-fiction': 163}
2,0590417010,193,[],US,eng,"[{'count': '450', 'name': 'to-read'}, {'count'...",NaN,False,4.43,B017RORXNI,...,NaN,1995.0,https://www.goodreads.com/book/show/89378.Dog_...,https://images.gr-assets.com/books/1360057676m...,89378,1331,86259,Dog Heaven,Dog Heaven,"{'children': 109, 'fiction': 13, 'non-fiction'..."
3,NaN,15,[],US,eng,"[{'count': '1492', 'name': 'to-read'}, {'count...",B013Q70BQG,True,3.98,B013Q70BQG,...,NaN,NaN,https://www.goodreads.com/book/show/27419760-w...,https://images.gr-assets.com/books/1457306424m...,27419760,167,46003673,Wedding Girl,Wedding Girl,"{'romance': 27, 'fiction': 22}"
4,NaN,5,"['246830', '362583', '362581', '623032']",US,eng,"[{'count': '493', 'name': 'to-read'}, {'count'...",NaN,False,4.28,NaN,...,NaN,2012.0,https://www.goodreads.com/book/show/13571772-c...,https://images.gr-assets.com/books/1333287305m...,13571772,51,102217,Captain America: Winter Soldier (The Ultimate ...,Captain America: Winter Soldier (The Ultimate ...,"{'comics, graphic': 433, 'fiction': 19, 'fanta..."

In [24]:
genre=list(df["genres"])

In [25]:
genres=[]
for i in genre:
    i=i.split(":")[0][2:-1]
    if "," in i:
        i=i.split(",")
    else:
        genres.append(i)
        continue
    ii=""
    for j in i:
        ii+=j
    genres.append(ii)

In [26]:
genres[0]

'fantasy paranormal'

In [27]:
df5=pd.DataFrame()
df5=df4

In [28]:
df5["genres"]=genres

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [29]:
df5.head()

,id,book_title,book_publisher,published_at,book_cover,book_author,book_description,book_avg_rating,book_num_of_rating,genres
0,7327624,"The Unschooled Wizard (Sun Wolf and Starhawk, ...","Nelson Doubleday, Inc.",1987,https://images.gr-assets.com/books/1304100136m...,Barbara Hambly,Omnibus book club edition containing the Ladie...,0.0,0,fantasy paranormal
1,89376,Heaven,NaN,Not Known,https://images.gr-assets.com/books/1406508230m...,Randy Alcorn,What is Heaven really going to be like? What w...,0.0,0,non-fiction
2,89378,Dog Heaven,Blue Sky Press,1995,https://images.gr-assets.com/books/1360057676m...,Cynthia Rylant,In Newbery Medalist Cynthia Rylant's classic b...,0.0,0,children
3,27419760,Wedding Girl,NaN,Not Known,https://images.gr-assets.com/books/1457306424m...,Stacey Ballis,You've Got Mailmeets Julie & Juliain the new f...,0.0,0,romance
4,13571772,Captain America: Winter Soldier (The Ultimate ...,Hachette Partworks Ltd.,2012,https://images.gr-assets.com/books/1333287305m...,Ed Brubaker,The questions plaguing Captain America's dream...,0.0,0,comics graphic

In [30]:
df5['book_author'] = df5['book_author'].map(lambda x: x.split(',')[:3])

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [31]:
df5.head()

,id,book_title,book_publisher,published_at,book_cover,book_author,book_description,book_avg_rating,book_num_of_rating,genres
0,7327624,"The Unschooled Wizard (Sun Wolf and Starhawk, ...","Nelson Doubleday, Inc.",1987,https://images.gr-assets.com/books/1304100136m...,[Barbara Hambly],Omnibus book club edition containing the Ladie...,0.0,0,fantasy paranormal
1,89376,Heaven,NaN,Not Known,https://images.gr-assets.com/books/1406508230m...,[Randy Alcorn],What is Heaven really going to be like? What w...,0.0,0,non-fiction
2,89378,Dog Heaven,Blue Sky Press,1995,https://images.gr-assets.com/books/1360057676m...,[Cynthia Rylant],In Newbery Medalist Cynthia Rylant's classic b...,0.0,0,children
3,27419760,Wedding Girl,NaN,Not Known,https://images.gr-assets.com/books/1457306424m...,[Stacey Ballis],You've Got Mailmeets Julie & Juliain the new f...,0.0,0,romance
4,13571772,Captain America: Winter Soldier (The Ultimate ...,Hachette Partworks Ltd.,2012,https://images.gr-assets.com/books/1333287305m...,[Ed Brubaker],The questions plaguing Captain America's dream...,0.0,0,comics graphic

In [32]:
# putting the genres in a list of words
df5['genres'] = df5['genres'].map(lambda x: x.lower().split(' '))

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [33]:
df5.head()

,id,book_title,book_publisher,published_at,book_cover,book_author,book_description,book_avg_rating,book_num_of_rating,genres
0,7327624,"The Unschooled Wizard (Sun Wolf and Starhawk, ...","Nelson Doubleday, Inc.",1987,https://images.gr-assets.com/books/1304100136m...,[Barbara Hambly],Omnibus book club edition containing the Ladie...,0.0,0,"[fantasy, paranormal]"
1,89376,Heaven,NaN,Not Known,https://images.gr-assets.com/books/1406508230m...,[Randy Alcorn],What is Heaven really going to be like? What w...,0.0,0,[non-fiction]
2,89378,Dog Heaven,Blue Sky Press,1995,https://images.gr-assets.com/books/1360057676m...,[Cynthia Rylant],In Newbery Medalist Cynthia Rylant's classic b...,0.0,0,[children]
3,27419760,Wedding Girl,NaN,Not Known,https://images.gr-assets.com/books/1457306424m...,[Stacey Ballis],You've Got Mailmeets Julie & Juliain the new f...,0.0,0,[romance]
4,13571772,Captain America: Winter Soldier (The Ultimate ...,Hachette Partworks Ltd.,2012,https://images.gr-assets.com/books/1333287305m...,[Ed Brubaker],The questions plaguing Captain America's dream...,0.0,0,"[comics, graphic]"

In [34]:
for index, row in df5.iterrows():
    row['book_author'] = [x.lower().replace(' ','') for x in row['book_author']]

In [82]:
df5['Key_words'] = "null"

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [83]:
df5.head()

,id,book_title,book_publisher,published_at,book_cover,book_author,book_description,book_avg_rating,book_num_of_rating,genres,Key_words
0,7327624,"The Unschooled Wizard (Sun Wolf and Starhawk, ...","Nelson Doubleday, Inc.",1987,https://images.gr-assets.com/books/1304100136m...,[Barbara Hambly],Omnibus book club edition containing the Ladie...,0.0,0,"[fantasy, paranormal]",null
1,89376,Heaven,NaN,Not Known,https://images.gr-assets.com/books/1406508230m...,[Randy Alcorn],What is Heaven really going to be like? What w...,0.0,0,[non-fiction],null
2,89378,Dog Heaven,Blue Sky Press,1995,https://images.gr-assets.com/books/1360057676m...,[Cynthia Rylant],In Newbery Medalist Cynthia Rylant's classic b...,0.0,0,[children],null
3,27419760,Wedding Girl,NaN,Not Known,https://images.gr-assets.com/books/1457306424m...,[Stacey Ballis],You've Got Mailmeets Julie & Juliain the new f...,0.0,0,[romance],null
4,13571772,Captain America: Winter Soldier (The Ultimate ...,Hachette Partworks Ltd.,2012,https://images.gr-assets.com/books/1333287305m...,[Ed Brubaker],The questions plaguing Captain America's dream...,0.0,0,"[comics, graphic]",null

## Keyword Extraction from Description

In [84]:
from rake_nltk import Rake
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer
words=[]
for index, row in df5.iterrows():
    plot = row['book_description']
    r = Rake()
    r.extract_keywords_from_text(plot)
    key_words_dict_scores = r.get_word_degrees()
    words.append(list(key_words_dict_scores.keys()))

# dropping the Plot column
#df5.drop(columns = ['book_description'], inplace = True)

In [85]:
len(words)

19682

In [89]:
df5.iloc[1].Key_words

['disembodied',
 'spirits',
 'book',
 'intended',
 'traveling',
 'god',
 'created',
 'eternal',
 'harp',
 'strumming',
 '--',
 'able',
 'playing',
 'picture',
 'heaven',
 'date',
 'extensive',
 'research',
 'change',
 'real',
 'people',
 '25',
 'years',
 'imagination',
 'always',
 'thought',
 'presence',
 'free',
 'live',
 'life',
 'today',
 'randy',
 'alcorn',
 'vibrant',
 'cant',
 'begin',
 'comprehensive',
 'answers',
 'light',
 'way',
 'realm',
 'wondrous',
 'natural',
 'beauty',
 'next',
 'time',
 'put',
 'eternity',
 'dr',
 'death',
 'discovering',
 'imagine',
 'eating',
 'really',
 'going',
 'sin',
 'like',
 'look',
 'wonderful',
 'surprise',
 'hear',
 'someone',
 'say',
 '."',
 'suffering',
 'brimming',
 'human',
 'culture',
 'worshiping',
 'new',
 'earth',
 'clouds',
 'brings',
 'questions',
 'physical',
 'christ',
 'spark',
 'bodies',
 'enjoying',
 'close',
 'relationships',
 'tell',
 'hearts',
 'drinking',
 'invites',
 'working',
 'bright',
 'definitive',
 'richness',
 'scripture',
 'describes',
 'get',
 'boring',
 ',"']

In [87]:
df5['Key_words']=words

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [90]:
df6=df5[["book_title","book_author","genres","Key_words"]]

In [91]:
df6.set_index('book_title', inplace = True)
df6.head()

,book_author,genres,Key_words
book_title,,,
"The Unschooled Wizard (Sun Wolf and Starhawk, #1-2)",[Barbara Hambly],"[fantasy, paranormal]","[madrigyn, ladies, wenshar, witches, omnibus, ..."
Heaven,[Randy Alcorn],[non-fiction],"[disembodied, spirits, book, intended, traveli..."
Dog Heaven,[Cynthia Rylant],[children],"[man, resist, afterlife, sure, old, pet, autho..."
Wedding Girl,[Stacey Ballis],[romance],"[grandmother, old, tabloids, --, fifty, grand,..."
"Captain America: Winter Soldier (The Ultimate Graphic Novels Collection: Publication Order, #7)",[Ed Brubaker],"[comics, graphic]","[make, new, scars, tearing, open, old, wounds,..."

In [92]:
df6.iloc[1].Key_words

['disembodied',
 'spirits',
 'book',
 'intended',
 'traveling',
 'god',
 'created',
 'eternal',
 'harp',
 'strumming',
 '--',
 'able',
 'playing',
 'picture',
 'heaven',
 'date',
 'extensive',
 'research',
 'change',
 'real',
 'people',
 '25',
 'years',
 'imagination',
 'always',
 'thought',
 'presence',
 'free',
 'live',
 'life',
 'today',
 'randy',
 'alcorn',
 'vibrant',
 'cant',
 'begin',
 'comprehensive',
 'answers',
 'light',
 'way',
 'realm',
 'wondrous',
 'natural',
 'beauty',
 'next',
 'time',
 'put',
 'eternity',
 'dr',
 'death',
 'discovering',
 'imagine',
 'eating',
 'really',
 'going',
 'sin',
 'like',
 'look',
 'wonderful',
 'surprise',
 'hear',
 'someone',
 'say',
 '."',
 'suffering',
 'brimming',
 'human',
 'culture',
 'worshiping',
 'new',
 'earth',
 'clouds',
 'brings',
 'questions',
 'physical',
 'christ',
 'spark',
 'bodies',
 'enjoying',
 'close',
 'relationships',
 'tell',
 'hearts',
 'drinking',
 'invites',
 'working',
 'bright',
 'definitive',
 'richness',
 'scripture',
 'describes',
 'get',
 'boring',
 ',"']

In [93]:
df6['bag_of_words'] = ''
columns = df6.columns
bag=[]
for index, row in df6.iterrows():
    words = ''
    for col in columns:
        words = words + ' '.join(row[col])+ ' '
    row['bag_of_words'] = words
    bag.append(words)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [94]:
df6.head()

,book_author,genres,Key_words,bag_of_words
book_title,,,,
"The Unschooled Wizard (Sun Wolf and Starhawk, #1-2)",[Barbara Hambly],"[fantasy, paranormal]","[madrigyn, ladies, wenshar, witches, omnibus, ...",Barbara Hambly fantasy paranormal madrigyn lad...
Heaven,[Randy Alcorn],[non-fiction],"[disembodied, spirits, book, intended, traveli...",Randy Alcorn non-fiction disembodied spirits b...
Dog Heaven,[Cynthia Rylant],[children],"[man, resist, afterlife, sure, old, pet, autho...",Cynthia Rylant children man resist afterlife s...
Wedding Girl,[Stacey Ballis],[romance],"[grandmother, old, tabloids, --, fifty, grand,...",Stacey Ballis romance grandmother old tabloids...
"Captain America: Winter Soldier (The Ultimate Graphic Novels Collection: Publication Order, #7)",[Ed Brubaker],"[comics, graphic]","[make, new, scars, tearing, open, old, wounds,...",Ed Brubaker comics graphic make new scars tear...

In [95]:
df6.drop(columns = [col for col in df6.columns if col!= 'bag_of_words'], inplace = True)

/usr/local/lib/python3.7/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

## Bag of Words Created from Author Name, Title, Genre and Description

In [96]:
df6.head()

                                                                                         bag_of_words
book_title
The Unschooled Wizard (Sun Wolf and Starhawk, #...  Barbara Hambly fantasy paranormal madrigyn lad...
Heaven                                              Randy Alcorn non-fiction disembodied spirits b...
Dog Heaven                                          Cynthia Rylant children man resist afterlife s...
Wedding Girl                                        Stacey Ballis romance grandmother old tabloids...
Captain America: Winter Soldier (The Ultimate G...  Ed Brubaker comics graphic make new scars tear...

In [46]:
df6.to_csv("reco_df_small.csv")

In [4]:
import pandas as pd
df6=pd.read_csv("reco_df.csv",index_col="book_title")

In [47]:
df6.head()

                                                                                         bag_of_words
book_title
The Unschooled Wizard (Sun Wolf and Starhawk, #...  Barbara Hambly fantasy paranormal madrigyn lad...
Heaven                                              Randy Alcorn non-fiction disembodied spirits b...
Dog Heaven                                          Cynthia Rylant children man resist afterlife s...
Wedding Girl                                        Stacey Ballis romance grandmother old tabloids...
Captain America: Winter Soldier (The Ultimate G...  Ed Brubaker comics graphic make new scars tear...

In [97]:

count = CountVectorizer()
count_matrix = count.fit_transform(df6['bag_of_words'])


indices = pd.Series(df6.index)
indices[:5]

0    The Unschooled Wizard (Sun Wolf and Starhawk, ...
1                                               Heaven
2                                           Dog Heaven
3                                         Wedding Girl
4    Captain America: Winter Soldier (The Ultimate ...
Name: book_title, dtype: object

## Cosine Similarity

In [98]:
cosine_sim = cosine_similarity(count_matrix, count_matrix)
cosine_sim

array([[1.        , 0.02787473, 0.03413944, ..., 0.02990743, 0.10482848,
        0.        ],
       [0.02787473, 1.        , 0.07422696, ..., 0.06502561, 0.02532457,
        0.0410305 ],
       [0.03413944, 0.07422696, 1.        , ..., 0.02654659, 0.03101614,
        0.02512595],
       ...,
       [0.02990743, 0.06502561, 0.02654659, ..., 1.        , 0.01358565,
        0.03301691],
       [0.10482848, 0.02532457, 0.03101614, ..., 0.01358565, 1.        ,
        0.05143445],
       [0.        , 0.0410305 , 0.02512595, ..., 0.03301691, 0.05143445,
        1.        ]])

In [5]:
import pandas as pd
def recommendations(title, cosine_sim = cosine_sim):
    
    recommended_books = []
    
    idx = indices[indices == title].index[0]

    score_series = pd.Series(cosine_sim[idx]).sort_values(ascending = False)

    top_10_indexes = list(score_series.iloc[1:11].index)
    
    for i in top_10_indexes:
        recommended_books.append(list(df6.index)[i])
        
    return recommended_books

# Recommendations

In [6]:
recommendations("Harry Potter and the Philosopher's Stone (Harry Potter, #1)")

["Harry Potter and the Philosopher's Stone (Harry Potter # 1)",
 'Harry Potter and the Deathly Hallows (Harry Potter, #7)',
 'The Tales of Beedle the Bard',
 'Harry Potter and the Prisoner of Azkaban (Harry Potter, #3)',
 'Fantastic Beasts and Where to Find Them',
 'The Complete Harry Potter Collection Box Set (Harry Potter, #1-7)',
 'Harry Potter and the Prisoner of Azkaban (Harry Potter, #3)',
 'Harry Potter and the Chamber of Secrets (Harry Potter, #2)',
 "Harry Potter and the Sorcerer's Stone (Harry Potter, #1)",
 'A Sterling New Year (With or Without, #2.2)']

In [7]:
recommendations("Murder on the Orient Express (Hercule Poirot, #10)")

['The Body in the Library (Miss Marple, #3)',
 'The Mysterious Affair at Styles (Hercule Poirot, #1)',
 'Lord Edgware Dies',
 'The ABC Murders',
 'The Murder of Roger Ackroyd (Hercule Poirot, #4)',
 'The Murder of Roger Ackroyd (Hercule Poirot, #4)',
 'Murder on the Links (Hercule Poirot, #3)',
 'The Clocks (Hercule Poirot, #34)',
 'The Million Dollar Bond Robbery',
 'The Monogram Murders']

## Saving the models into pickle files

In [102]:
f=open("reco_model_indices_small.pkl","wb")
import pickle
pickle.dump(indices,f)

In [109]:
f=open("reco_model_cosine_small.pkl","wb")
import pickle
pickle.dump(cosine_sim,f)

In [1]:
import pickle
f=open("reco_model_cosine_small.pkl","rb")
cosine_sim=pickle.load(f)
f.close()

In [2]:
f=open("reco_model_indices.pkl","rb")
indices=pickle.load(f)
f.close()